@font-face {
  font-family: 'MonumentExtendedRegular';
  src: local('MonumentExtendedRegular'), url("./assets/MonumentExtendedRegular.otf") format('opentype');
}

@font-face {
  font-family: 'AndaleMono.ttf';
  src: local('AndaleMono'), url("./assets/AndaleMono.ttf") format('truetype');
}

.font-heading {
  font-family: 'MonumentExtendedRegular'
}

body {
  font-family: 'AndaleMono';
  cursor: url('./assets/logo-white.svg'), auto;
}

.affiliates::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 130px;
  border-radius: 0px 5px 5px 0px;
  background: blue;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.video video {
  object-fit: fill;
}

.hero-bg {
  background: url('./assets/hero-bg.jpeg') no-repeat center center/cover;
}

.hero-bg.second {
  background: url('./assets/hero-02.jpeg') no-repeat center center/cover;
}

.hero-bg.third {
  background: url('./assets/hero-03.jpeg') no-repeat center center/cover;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media screen and (max-width: 400px) {
  .video video {
    object-fit: cover;
  }
}

.radial {
  z-index: 3;
  background: radial-gradient(#333, #3985ff00 80%);
  opacity: 0;
}

.spotify:hover {
  cursor: pointer;
}

.spotify:hover .radial {
  opacity: 0.8;
}