@font-face {
  font-family: 'DecimaMonoPro';
  src: local('DecimaMonoPro'), url("./assets/DecimaMonoPro.ttf") format('truetype');
}

body {
  font-family: 'DecimaMonoPro';
}

.affiliates::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 130px;
  border-radius: 0px 5px 5px 0px;
  background: blue;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.video video {
  object-fit: fill;
}

.hero-bg {
  background: url('./assets/hero-bg.jpg') no-repeat center center/cover;
}

.hero-bg.second {
  background: url('./assets/hero-02.png') no-repeat center center/cover;
}

.hero-bg.third {
  background: url('./assets/hero-03.png') no-repeat center center/cover;
}

@media screen and (max-width: 400px) {
  .video video {
    object-fit: cover;
  }
}